<div class="col-md-6 col-sm-12" style="margin-top: 0.1rem; display: inline-block; padding: 0.4rem;">
    <div class="d-flex flex-row align-items-center border border-primary rounded" style="padding: 1rem; font-size: 1.2rem;">
        <a href="javascript:req('{{ url_for('play', id=sound.id) }}')" class="flex-grow-1">{{ sound.name }}</a>

        <a href="javascript:open({{ sound.id }})" data-toggle="modal" data-target="#m{{ sound.id }}"><i class="fas fa-info-circle" style="font-size: 1.5rem; padding: 0.2rem;"></i></a>
        <a href="javascript:play({{ sound.id }})"><i class="fas fa-play" style="font-size: 1.5rem; padding: 0.2rem;"></i></a>
        <a href="javascript:req('{{ url_for('play', id=sound.id) }}')"><i class="fab fa-discord" style="font-size: 1.5rem; padding: 0.2rem;"></i></a>
        <a href="{{ url_for('audio', id=sound.id) }}" filename="{{ sound.name }}.ogg" download="{{ sound.name }}.ogg"><i style="font-size: 1.5rem; padding: 0.2rem;" class="fas fa-file-download"></i></a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="m{{ sound.id }}" tabindex="-1" role="dialog" aria-labelledby="ml{{ sound.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ml{{ sound.id }}">{{ sound.name }}.ogg</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bitrate: <strong>28kbps</strong>
                    <br>
                    Format: <strong>Opus</strong>
                    <br>
                    <br>
                    Name: <strong>{{ sound.name }}</strong>
                    <br>
                    ID: <strong>{{ sound.id }}</strong>
                    <br>
                    Plays: <strong>{{ sound.plays }}</strong>
                    <br>
                    <br>

                    <div class="d-flex flex-row justify-content-around">
                        <a href="javascript:play({{ sound.id }})"><i class="fas fa-play" style="font-size: 1.8rem; padding: 0.2rem;"></i></a>
                        <a href="javascript:req('{{ url_for('play', id=sound.id) }}')"><i class="fab fa-discord" style="font-size: 1.8rem; padding: 0.2rem;"></i></a>
                        <a href="{{ url_for('audio', id=sound.id) }}" filename="{{ sound.name }}.opus" download="{{ sound.name }}.opus"><i style="font-size: 1.8rem; padding: 0.2rem;" class="fas fa-file-download"></i></a>
                    </div>
                    <p style="font-size: 0.8rem;">Please note: browser-play function is not supported on Safari</p>
                </div>
            </div>
        </div>
    </div>
</div>
