{% extends "base.html" %}
{% block content %}

<title>SoundFX - Dashboard</title>

<div class="container-fluid" style="min-height: 100vh;">

    <div class="row">

        <div class="col-md-1 col-lg-3 d-none d-md-block">

        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">

            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Dashboard</h1>

            <h3 class="display-5 text-dark" style="margin-top: 2rem;">{{ name.title() }} collection</h3>
            <hr>
            <p class="display-7 text-dark"><a href="{{ url_for('dashboard') }}">Return</a></p>

            <div class="container">
                <div class="row">
                    {% for sound in sounds %}
                        {% include '_sound_item.html' %}
                    {% endfor %}
                </div>
            </div>

            <br>
            <br>
            <br>

            <script>

function req(url) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", url, true);
    xhttp.send();
}

function play(id) {
    audio_src = '{{ url_for('audio') }}' + '?id=' + id;

    var sound = new Howl({
        src: [audio_src],
        format: 'mp3'
    });

    sound.play();
}

function favorite(id) {
    url = '{{ url_for('fav') }}' + '?id=' + id;

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText == 'added') {
                document.getElementById("f" + id).innerHTML = '<i style="font-size: 1.8rem; padding: 0.2rem;" class="fas fa-star"></i>';
            }
            else {
                document.getElementById("f" + id).innerHTML = '<i style="font-size: 1.8rem; padding: 0.2rem;" class="far fa-star"></i>';
            }
        }
    };
    xhttp.open("POST", url, true);
    xhttp.send();

}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

            </script>
        </div>
    </div>
</div>

{% endblock %}
