{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="min-height: 100vh;">

    <div class="row">

        <div class="col-md-1 col-lg-3 d-none d-md-block">

        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">

            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Dashboard</h1>

            <h3 class="display-5 text-dark">Your sounds</h3>
            <hr>

            <div class="container">
                <div class="row">
                    {% for sound in user_sounds %}
                        {% include '_sound_item.html' %}
                    {% endfor %}
                </div>
            </div>

            <h3 class="display-5 text-dark" style="margin-top: 2rem;">Public sounds</h3>
            <hr>

            <form action="{{ url_for('dashboard') }}" method="get">
                <div class="input-group">
                    <input type="text" name="query" class="form-control rounded" placeholder="Search Sound Repository..."></input>
                    <input type="submit" class="btn btn-primary" style="margin-left: 0.6rem;" value="Search"></input>
                </div>
            </form>

            <div class="container">
                <div class="row">
                    {% for sound in public %}
                        {% include '_sound_item.html' %}
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex flex-row justify-content-between">
                {% if p - 1 >= 0 %}
                <a href="{{ url_for('dashboard', query=q, page=p-1) }}"><i class="fas fa-arrow-circle-left" style="font-size: 3.6rem;"></i></a>
                {% else %}
                <p style="color: gray;"><i class="fas fa-arrow-circle-left" style="font-size: 3.6rem;"></i></p>
                {% endif %}

                {% if p + 1 <= max_pages %}
                <a href="{{ url_for('dashboard', query=q, page=p+1) }}"><i class="fas fa-arrow-circle-right" style="font-size: 3.6rem;"></i></a>
                {% else %}
                <p style="color: gray;"><i class="fas fa-arrow-circle-right" style="font-size: 3.6rem;"></i></p>
                {% endif %}
            </div>

            <br>
            <br>
            <br>

            <script>

function req(url) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {

    };
    xhttp.open("POST", url, true);
    xhttp.send();
}

function play(id) {
    audio_src = '{{ url_for('audio') }}' + '?id=' + id;

    var sound = new Howl({
        src: [audio_src],
        format: 'opus'
    });

    sound.play();
}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

            </script>
        </div>
    </div>
</div>

{% endblock %}
