{% extends "base.html" %}
{% block content %}

<style>

a.disabled {
    color: gray;
}

</style>

<title>SoundFX - Dashboard</title>

<div class="container-fluid" style="min-height: 100vh;">

    <div class="row">

        <div class="col-md-1 col-lg-3 d-none d-md-block">

        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">

            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Dashboard</h1>

            <h3 class="display-5 text-dark">Your sounds</h3>
            <hr>

            <div class="container">
                <div class="row" id="user-sounds">
                </div>
            </div>

            <br>
            <h3 class="display-5 text-dark">Favorite sounds</h3>
            <hr>

            <div class="container">
                <div class="row" id="favorite-sounds">
                </div>
            </div>

            <h3 class="display-5 text-dark" style="margin-top: 2rem;">Public sounds</h3>
            <hr>

            <div class="input-group">
                <label for="search-query" class="sr-only">Search for sounds</label>
                <input id="search-query" class="form-control rounded" placeholder="Search Sounds...">
                <button class="btn btn-primary" style="margin-left: 0.6rem;">Search</button>
            </div>

            <div class="container">
                <div class="row" id="public-sounds">
                </div>
            </div>

            <hr>
            <div class="d-flex flex-row justify-content-between">
                <a href="#public-sounds" class="paging disabled" id="prev-page"><i class="fas fa-arrow-circle-left" style="font-size: 3.6rem;"></i></a>

                <a href="#public-sounds" id="random-page"><i class="fas fa-random" style="font-size: 3.6rem;"></i></a>

                <a href="#public-sounds" class="paging" id="next-page"><i class="fas fa-arrow-circle-right" style="font-size: 3.6rem;"></i></a>
            </div>

            <br>
            <br>

            <script>

function htmlEncode(value) {
    // https://www.w3docs.com/snippets/javascript/how-to-html-encode-a-string.html

    //create a div in-memory, set it's inner text. Which jQuery automatically encodes.
    //then take the encoded contents back out.  The div never exists on the page.
    return $('<div/>').text(value).html();
}

function populate_public_sounds() {
    $('#public-sounds').children().remove();

    $.ajax({
        url: '{{ url_for('search_sounds') }}' + '?page=' + current_page,
        contentType: 'application/json; charset=utf-8;',
        method: 'GET',

        success: function (data) {
            window.max_pages = data.last_page;

            for (let sound of data.sounds) {
                let name = htmlEncode(sound.name);
                let id = sound.id;
                let plays = sound.plays;
                let owned = false;
                let favorite = window.user_favorites.includes(id);

                $('#public-sounds').append(`{% include "_sound_item.html" %}`);
            }

            if (window.current_page <= 0) {
                $('#prev-page').addClass('disabled');
            }
            else {
                $('#prev-page').removeClass('disabled');
            }

            if (window.current_page >= window.max_pages) {
                $('#next-page').addClass('disabled');
            }
            else {
                $('#next-page').removeClass('disabled');
            }
        }
    });
}

window.max_pages = 1;
window.current_page = 0;
window.user_favorites = [];

$(function () {
    $('#favorite-sounds').children().remove();

    $.ajax({
        url: '{{ url_for('favorites') }}',
        contentType: 'application/json; charset=utf-8;',
        method: 'GET',

        success: function (data) {
            for (let sound of data.sounds) {
                let name = htmlEncode(sound.name);
                let id = sound.id;
                let plays = sound.plays;
                let owned = false;
                let favorite = true;

                $('#favorite-sounds').append(`{% include "_sound_item.html" %}`);

                window.user_favorites.push(id);
            }
        }
    })

    $('#user-sounds').children().remove();

    $.ajax({
        url: '{{ url_for('user_sounds') }}',
        contentType: 'application/json; charset=utf-8;',
        method: 'GET',

        success: function (data) {
            for (let sound of data.sounds) {
                let name = htmlEncode(sound.name);
                let id = sound.id;
                let plays = sound.plays;
                let owned = true;
                let favorite = window.user_favorites.includes(id);

                $('#user-sounds').append(`{% include "_sound_item.html" %}`);
            }
        },

        error: function () {
            $('#user-sounds').remove();
        }
    });

    populate_public_sounds();
});

$('#next-page').on('click', function () {
    if (window.current_page < window.max_pages) {
        ++window.current_page;

        populate_public_sounds();
    }
    else {
        $(this).addClass('disabled');
    }
});

$('#prev-page').on('click', function () {
    if (window.current_page > 0) {
        --window.current_page;

        populate_public_sounds();
    }
    else {
        $(this).addClass('disabled');
    }
});

$('#random-page').on('click', function () {
    window.current_page = Math.floor(Math.random() * (window.max_pages + 1));

    populate_public_sounds();
});

$(document).on('click', '.play-sound', function (event) {
    event.preventDefault();

    let sound_card = $(this).closest('.sound-item');

    if (sound_card.data('sound-src') === undefined) {
        $.ajax({
            url: '{{ url_for('get_sound') }}' + '?sound_id=' + sound_card.data('sound'),
            contentType: 'application/json; charset=utf-8',
            method: 'GET',

            success: function (data) {
                sound_card.data('sound-src', data.source);

                let sound = new Howl({
                    src: [`data:application/octet-stream;base64,${data.source}`],
                    format: 'opus'
                });

                sound.play();
            }
        })
    }
    else {
        let sound = new Howl({
            src: [`data:application/octet-stream;base64,${sound_card.data('sound-src')}`],
            format: 'opus'
        });

        sound.play();
    }
});

$(document).on('click', '.download-sound.uninitialized', function (event) {
    event.preventDefault();

    let sound_card = $(this).closest('.sound-item');

    let download_anchor = $(this);

    if (sound_card.data('sound-src') === undefined) {
        $.ajax({
            url: '{{ url_for('get_sound') }}' + '?sound_id=' + sound_card.data('sound'),
            contentType: 'application/json; charset=utf-8',
            method: 'GET',

            success: function (data) {
                console.log(data);

                sound_card.data('sound-src', data.source);

                let blob = new Blob(
                    [ atob(sound_card.data('sound-src')) ],
                    {
                        type: 'audio/opus'
                    }
                )

                download_anchor.attr('href', URL.createObjectURL(blob));
                download_anchor.removeClass('uninitialized');
                download_anchor.click();
            }
        })
    }
    else {
        let blob = new Blob(
            [ atob(sound_card.data('sound-src')) ],
            {
                type: 'audio/opus'
            }
        )

        download_anchor.attr('href', URL.createObjectURL(blob));
        download_anchor.removeClass('uninitialized');
        download_anchor.click();
    }
});

$(document).on('click', '.delete-sound', function (event) {
    event.preventDefault();

    let sound_id = $(this).closest('.sound-item').data('sound');

    $.ajax({
        url: '{{ url_for('user_sounds') }}' + '?sound_id=' + sound_id,
        method: 'DELETE',

        success: function () {
            let sounds = $(`.sound-item[data-sound=${sound_id}]`);

            $('.modal').modal('hide').on('hidden.bs.modal', function () {
                sounds.remove();
            });
        }
    });
 });

$(document).on('click', '.favorite-sound', function (event) {
    event.preventDefault();

    let fav_button = $(this);
    let sound_item = $(this).closest('.sound-item');

    let is_favorite = $(this).data('favorited');

    let icon = $(this).find('i');

    let method = is_favorite ? 'DELETE' : 'POST';
    let sound_id = sound_item.data('sound');

    $.ajax({
        url: '{{ url_for('favorites') }}',
        contentType: 'application/json; charset=utf-8',
        method: method,
        data: JSON.stringify({'sound_id': sound_id}),

        success: function () {
            if (is_favorite) {
                // removed from favorites
                icon.addClass('far');
                icon.removeClass('fas');

                let sounds = $('#favorite-sounds').find(`.sound-item[data-sound=${sound_id}]`);

                $('.modal').modal('hide').on('hidden.bs.modal', function () {
                    sounds.remove();
                });
            }
            else {
                // added to favorites
                icon.addClass('fas');
                icon.removeClass('far');

                let name = sound_item.data('name');
                let id = sound_id;
                let plays = sound_item.data('plays');
                let owned = false;
                let favorite = true;

                $('#favorite-sounds').append(`{% include "_sound_item.html" %}`);
            }

            fav_button.data('favorited', !is_favorite);
        }
    })
});

            </script>
        </div>
    </div>
</div>

{% endblock %}
