{% extends "base.html" %}
{% block content %}

<style>

a.disabled {
    color: gray;
}

</style>

<title>SoundFX - Dashboard</title>

<div class="container-fluid" style="min-height: 100vh;">

    <div class="row">

        <div class="col-md-1 col-lg-3 d-none d-md-block">

        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">

            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Dashboard</h1>

            <h3 class="display-5 text-dark">Your sounds</h3>
            <hr>

            <div class="container">
                <div class="row" id="user-sounds">
                </div>
            </div>

            <br>
            <h3 class="display-5 text-dark">Favorite sounds</h3>
            <hr>

            <div class="container">
                <div class="row" id="favorite-sounds">
                </div>
            </div>

            <h3 class="display-5 text-dark" style="margin-top: 2rem;">Public sounds</h3>
            <hr>

            <div class="input-group">
                <label for="search-query" class="sr-only">Search for sounds</label>
                <input id="search-query" class="form-control rounded" placeholder="Search Sounds...">
                <button class="btn btn-primary" style="margin-left: 0.6rem;">Search</button>
            </div>

            <div class="container">
                <div class="row" id="public-sounds">
                </div>
            </div>

            <hr>
            <div class="d-flex flex-row justify-content-between">
                <a href="#" class="paging disabled" id="prev-page"><i class="fas fa-arrow-circle-left" style="font-size: 3.6rem;"></i></a>

                <a href="#"><i class="fas fa-random" style="font-size: 3.6rem;"></i></a>

                <a href="#" class="paging" id="next-page"><i class="fas fa-arrow-circle-right" style="font-size: 3.6rem;"></i></a>
            </div>

            <br>
            <br>

            <script>
 /*
function play(id) {
    let audio_src = '' + '?id=' + id;

    let sound = new Howl({
        src: [audio_src],
        format: 'mp3'
    });

    sound.play();
}
 */

function htmlEncode(value) {
    // https://www.w3docs.com/snippets/javascript/how-to-html-encode-a-string.html

    //create a div in-memory, set it's inner text. Which jQuery automatically encodes.
    //then take the encoded contents back out.  The div never exists on the page.
    return $('<div/>').text(value).html();
}

window.max_pages = 1;
window.current_page = 0;

$(function () {
    $('#user-sounds').children().remove();

    $.ajax({
        url: '{{ url_for('user_sounds') }}',
        contentType: 'application/json; charset=utf-8;',
        method: 'GET',

        success: function (data) {
            for (let sound of data.sounds) {
                let name = htmlEncode(sound.name);
                let id = sound.id;
                let plays = sound.plays;
                let owned = true;
                let favorite = false;

                $('#user-sounds').append(`{% include "_sound_item.html" %}`);
            }
        },

        error: function () {
            $('#user-sounds').remove();
        }
    });

    $('#public-sounds').children().remove();

    $.ajax({
        url: '{{ url_for('search_sounds') }}',
        contentType: 'application/json; charset=utf-8;',
        method: 'GET',

        success: function (data) {
            window.max_pages = data.last_page;

            for (let sound of data.sounds) {
                let name = htmlEncode(sound.name);
                let id = sound.id;
                let plays = sound.plays;
                let owned = false;
                let favorite = false;

                $('#public-sounds').append(`{% include "_sound_item.html" %}`);
            }
        }
    });
});

$('#next-page').on('click', function () {
    if (window.current_page < window.max_pages) {
        ++window.current_page;

        $('#public-sounds').children().remove();

        $.ajax({
            url: '{{ url_for('search_sounds') }}' + '?page=' + current_page,
            contentType: 'application/json; charset=utf-8;',
            method: 'GET',

            success: function (data) {
                window.max_pages = data.last_page;

                for (let sound of data.sounds) {
                    let name = htmlEncode(sound.name);
                    let id = sound.id;
                    let plays = sound.plays;
                    let owned = false;
                    let favorite = false;

                    $('#public-sounds').append(`{% include "_sound_item.html" %}`);
                }

                $('#prev-page').remove('disabled');
            }
        });
    }
    else {
        $(this).addClass('disabled');
    }
});

            </script>
        </div>
    </div>
</div>

{% endblock %}
