{% extends "base.html" %}
{% block content %}

<title>SoundFX - Terms of Service</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-lg-3 d-none d-md-block">
        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">
            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Privacy Policy</h1>

            <h2>Data collected</h2>

            We store your Discord user ID, and the transcoded content of any audio
            files you upload.

            <h2>Data usage</h2>

            Your Discord user ID is used to associate sounds you upload to your user,
            and to associate your specified join sound with your user.

            <h2>Data sharing</h2>

            Your data is also guarded by the privacy policies of: <ul>
                <li>MEGA, our backup storage provider</li>
                <li>Hetzner, our hosting provider</li>
            </ul>

            <h2>Data access and removal</h2>

            Your sound files will be completely removed upon using the <strong>delete</strong> command.
            To access/remove your user data, please contact me via email or Discord private message.
        </div>
    </div>
</div>

{% endblock %}
