{% extends "base.html" %}
{% block content %}

<title>SoundFX - Terms of Service</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-lg-3 d-none d-md-block">
        </div>

        <div class="col-sm-12 col-md-10 col-lg-6">
            <h1 class="display-3 text-dark text-center" style="margin-top: 6rem;">Terms of Service</h1>

            <h2>Outline</h2>

            The Terms of Service apply whenever you use <strong>SoundFX Bot</strong> and the
            <strong>JellyWX's Home</strong> Discord server.
            <br>
            <br>
            Violating the Terms of Service may result in receiving a permanent ban from the Discord server,
            permanent restriction on your usage of SoundFX Bot, or removal of some or all of your content on
            SoundFX Bot or the Discord server.
            <br>
            <br>
            The Terms of Service may be updated at any time, and should be considered a guideline for appropriate
            behaviour.

            <br>
            <br>
            <h2>SoundFX Bot</h2>

            <ul>
                <li>Reasonably disclose potential exploits or bugs to me by email or by Discord private message</li>
                <li>Do not use the bot to harass other Discord users</li>
                <li>Do not use the bot to store data other than sounds</li>
                <li>By uploading a file to SoundFX Bot, you permit us to transcode and store the file, other
                    users to download and view the file, and you affirm that you have permission to grant us these permissions</li>
            </ul>

            <br>
            <h2>JellyWX's Home</h2>

            <ul>
                <li>Do not discuss politics, harass other users, or use language intended to upset other users</li>
                <li>Do not send vulgar media including but not limited to porn, gore, and violence. <strong>No exceptions
                    are made for content from news channels or content intended to inform.</strong></li>
                <li>Do not send malicious links</li>
                <li>Do not advertise</li>
                <li>Do not send unwarranted direct messages</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
